<%= render "shared/errors", obj: @image %>

<table class="attr__image" border="1">
  <tr>
    <th><%= form.label :new_data %></th>
    <td><%= form.file_field :new_data, :class => "file-field" %></td>
  </tr>
  <tr>
    <th><%= form.label :alt_text %></th>
    <td><%= form.text_field :alt_text, size: 40 %></td>
  </tr>
</table>
