<% @page_title = "ブログ記事の画像" %>
<h1 class="member-list"><%= @page_title %></h1>
<h2 class="entry-title"><%= @entry.title %></h2>

<ul class="account-menu">
  <%= menu_link_to "ブログ記事に戻る", @entry %>
  <%= menu_link_to "画像の追加", [:new, @entry, :image] %>
</ul>

<% if @images.present? %>
  <table class="admin-member-index" border="1">
    <thead>
      <tr>
        <th class="admin-member-username">番号</th>
        <th class="member-control">画像</th>
        <th class="admin-member-fullname">代替テキスト</th>
        <th class="member-control">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @images.each_with_index do |image, index| %>
        <tr>
          <td class="member-names"><%= index + 1 %></td>
          <td class="member-names">
            <%= image_tag image.data.variant(resize: "100x>"),
              alt: image.alt_text %>
          </td>
          <td class="member-names"><%= image.alt_text %></td>
          <td class="member-names">
            <div>
              <%= link_to "編集", edit_entry_image_path(@entry, image) %> |
              <%= link_to "削除", entry_image_path(@entry, image),
                method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </div>
            <div>
              <%= link_to_unless image.first?, "上へ",
                move_higher_entry_image_path(@entry, image),
                method: :patch %> |
              <%= link_to_unless image.last?, "下へ",
                move_lower_entry_image_path(@entry, image),
                method: :patch %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-entries">画像がありません。</div>
<% end %>
