<% @page_title = @entry.title %>
<h1>作品</h1>

<div class="entries__show">
  <h2 class="entries__title"><%= @entry.title %></h2>

  <div class="entries__show-entry">
    <%= the_first_image(@entry) %>
    <%= auto_link simple_format(@entry.body), html: {target: '_blank'} %>
    <%= other_images(@entry) %></div>
    <%= render "footer", entry: @entry %>
  </div>
</div>
