<% @page_title = "アカウント情報の編集" %>

<h1 class="member-list"><%= @page_title %></h1>

<div class="setup-member"><%= link_to "マイアカウントに戻る", :account %></div>

<%= form_for @member, as: "account", url: :account do |form| %>
  <%= render "shared/member_form", form: form %>
  <div class="btn-admin"><%= form.submit '更新', class: 'btn btn-primary' %></div>
<% end %>
